### STORAGE VE RETENTION MIKTARLARI ORTAMA GORE DEGISEBİLİR
# PROD OTRAMDA 100Gi VE 10 GÜN RETENTİON UYGUN OLABİLİR.
## USER WORKLOADLARIN INFRALARA TAŞINMAMASI GEREKİYOR. (4.19 DOKÜMAN)

apiVersion: v1
kind: ConfigMap
metadata:
  name: user-workload-monitoring-config
  namespace: openshift-user-workload-monitoring
data:
  config.yaml: |
    prometheus:
      retention: 15d
      resources:
        requests:
          cpu: 200m 
          memory: 2Gi 
      volumeClaimTemplate:
        spec:
          storageClassName: ocs-storagecluster-ceph-rbd
          resources:
            requests:
              storage: 100Gi
    thanosRuler:
      retention: 15d
      volumeClaimTemplate:
        spec:
          storageClassName: ocs-storagecluster-ceph-rbd
          resources:
            requests:
              storage: 20Gi

